/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* ---------------------------------------------------- */
.hlavicka {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}

.navbar{
list-style-type: none;
display: flex;
flex-direction: row;
align-items: center;
}

.logo{
	padding: 10px 20px;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	display:flex;
	flex-direction: row;
}
li {
	padding: 0;
	margin: 1px;
	flex-basis: 100%;
	}